<div id="outer">
  <div style="display: table;margin: 0 auto;width:50%">
    <h3 style="background-color:green; color:white" ng-show="flash">New Landing  Page successfully created</h3>
    <h1 ng-click='clicked()'>InstaPage</h1>
    <button ng-click="newLandingPage()">Add New</button>
    <h2>All ({{landingpages.length}})</h2>
    <div ng-show="hasContent()" >
      <ul style="list-style-type: none;">
        <li style="background-color:#f0ecec" ng-repeat="landingPage in landingpages">
          <p><a href="/pages/{{landingPage.slug}}">Preview Landing Page</a></p>
          <p><a href="/pages/{{landingPage.slug}}">Edit Landing Page</a></p>
          <h4><b>Name: </b>{{landingPage.name}}</h4>
          <h4><b>Template: </b>{{landingPage.template}}</p>
          <h4><b>Slug: </b>{{landingPage.slug}}</p>
          <h4><b>Visits: </b>{{landingPage.visits}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
