<h1>Landing Page Options</h1>
<form>
  <p>Please select your landing page template:</p>
  <div>
    <input type="radio" id="contactChoice1"
     name="contact" value="template1" ng-model="template.version" checked="checked">
    <label for="contactChoice1">Template 1</label>

    <input type="radio" id="contactChoice2"
     name="contact" value="template2" ng-model="template.version">
    <label for="contactChoice2">Template 2</label>

    <input type="radio" id="contactChoice3"
     name="contact" value="template3" ng-model="template.version">
    <label for="contactChoice3">Template 3</label>
  </div>
  <div>
    <button ng-click="goToForm(template.version)">Next</button>
  </div>
  {{template.version}}
</form>
